  <div class="review-container voteable-container">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
          <span class="score"><%= review.score %></span>
          <div class="btn-group-vertical">
            <div class="votes-container">

             <%= form_tag vote_up_path(review), class: "vote-up" do |f| %>
              <%= hidden_field_tag(:"vote[voteable_id]", review.id) %>
              <%= hidden_field_tag(:"vote[voteable_type]", "Review") %>
              <%= hidden_field_tag(:"vote[upvote?]", true) %>
              <%= submit_tag "Awesome", class: "btn btn-primary btn-default" %>
            <% end %>
             <%= form_tag vote_up_path(review), class: "vote-up" do |f| %>
              <%= hidden_field_tag(:"vote[voteable_id]", review.id) %>
              <%= hidden_field_tag(:"vote[voteable_type]", "Review") %>
              <%= hidden_field_tag(:"vote[upvote?]", false) %>
              <%= submit_tag "Bummer", class: "btn btn-primary btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <img src="<%= review.user.gravatar %>">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <%= review.user.name %><br>
          <small> <%= review.user.name %> | <%= review.user.name %></small>
        </div>
    </div><br>
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
          <p><%= review.description %></p><br>
      </div>
    </div>
  </div>




