<%= javascript_include_tag 'main_map' %>

<div style="height:400px;width:600px" id="places_map"></div>

<% @categories.each do |category| %>

<%= link_to category.name, {:controller => "categories", :action => "filter", by: category.name}, {:method => :get, :class => "btn btn-success" }%>

<% end %>

<div class="row">
<<<<<<< HEAD
  <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
     <%= link_to 'Add a cool place', new_place_path, :class => "btn btn-block btn-primary" %><br>
    <ul class="list-group">
<% @places.each do |place| %>
  <li class="list-group-item voteable-container" id="show-place-box">
  <h3><%= link_to "#{place.name}", place_path(place) %> </h3>
      <%= place.description %><br>
      <%= place.address %><br>
      <%= place.phone %><br>
      <%= place.website %><br>
      <span class="score"><%= place.score %></span>
      <div class="place_lat" style="display:none"><%= place.lat %></div>
      <div class="place_lng" style="display:none"><%= place.lng %></div>
     <div class="votes-container">
     <%= form_tag vote_up_path(place), class: "vote-up" do |f| %>
      <%= hidden_field_tag(:"vote[voteable_id]", place.id) %>
      <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
      <%= hidden_field_tag(:"vote[upvote?]", true) %>
      <%= submit_tag "Awesome", class: "btn btn-primary btn-default"  %>
    <% end %>
     <%= form_tag vote_up_path(place), class: "vote-up" do |f| %>
      <%= hidden_field_tag(:"vote[voteable_id]", place.id) %>
      <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
      <%= hidden_field_tag(:"vote[upvote?]", false) %>
      <%= submit_tag "Bummer", class: "btn btn-primary btn-default"  %>
    <% end %>
    </div>
    </li>
  <% end %>

      </div>
    </div>
  </ul>
  </div>
</div>
