<%= javascript_include_tag 'main_map' %>

<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <!-- this holds the map stuff -->
    <div style="height:400px;width:600px" id="places_map"></div>
  </div>
</div>



<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">


      <% @places.each do |place| %>

      <ul class="list-group voteable-container">
        <li class="list-group-item" id="show-place-box">

          <h3><%= link_to "#{place.name}", place_path(place) %> </h3>

                   <%= place.description %><br>
                   <%= place.address %><br>
                   <%= place.phone %><br>
                   <%= place.website %><br>
                   <div class="place_lat" style="display:none"><%= place.lat %></div>
                   <div class="place_lng" style="display:none"><%= place.lng %></div>
                   <div class="btn-toolbar">

                 <div class="votes-container">
                 <%= form_tag vote_up_path(place), class: "vote-up" do |f| %>
                    <%= hidden_field_tag(:"vote[voteable_id]", place.id) %>
                    <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
                    <%= hidden_field_tag(:"vote[upvote?]", true) %>
                    <%= submit_tag "upvote", class: "btn btn-group" %>
                    <% end %>
                     <span class="btn-group score"><%= place.score %></span>
  <%= form_tag vote_up_path(place), class: "vote-up" do |f| %>
                    <%= hidden_field_tag(:"vote[voteable_id]", place.id) %>
                    <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
                    <%= hidden_field_tag(:"vote[upvote?]", false) %>
                    <%= submit_tag "downvote", class: "btn btn-group" %>
                    <% end %>
                </div>
                  </div>
                  </li>





            <% end %>
      </div>
    </div>
  </ul>
  </div>
</div>

