<%= javascript_include_tag 'maps' %>
<div class="place_container">

	<header>
		<h1><%= @place.name %></h1>

		<div id="place_score">Score: <%= @place.score %></div>
		<div id="place_phone">Phone: <%= @place.phone %></div>
		<div id="place_address"><%= @place.address %></div>
		<div id="place_website">Website: <%= @place.website %></div>

	</header>
	<p class="place_description"><%= @place.description %></p>

	<div style="height:400px;width:600px" id="place_map_container"><%= @place.map %></div>
	<div class="photo_container">
		<%# @place.photos.each do |photo| %>
			<%# render :"photos/show", locals: {:photo => photo} %>
		<%# end %>
	</div>

	<ul id="directions">
	</ul>

	<div class="reviews_container">
		<% @place.reviews.each do |review| %>
		<%= render :"reviews/show", locals: {:review => review} %>
		<% end %>
	</div>
</div>