
<%= javascript_include_tag 'maps' %>
<div class="container voteable-container">

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" id="info-container">
	    <h3><%= @place.name %></h3>
      <%= link_to 'Create a Review', new_place_review_path(@place), :class => "btn btn-block btn-primary" %><br>
        <div class="row">
          <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8"  id="info-text">
	           Score: <span class="score"><%= @place.score %></span><br>
	           Phone: <%= @place.phone %><br>
              Address: <div id="place_address"><%= @place.address %></div><br>
              City: <%= @place.city %><br>
              State: <%= @place.state %><br>
	           Zipcode: <%= @place.zipcode %><br>
	           Website: <%= @place.website %><br>
	           description: <%= @place.description %>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
            <%= link_to 'Edit Place', edit_place_path(@place), :class => "btn btn-primary btn-default" %><br>
            <div class="votes-container">

             <%= form_tag vote_up_path(@place), class: "vote-up" do |f| %>
              <%= hidden_field_tag(:"vote[voteable_id]", @place.id) %>
              <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
              <%= hidden_field_tag(:"vote[upvote?]", true) %>
              <%= submit_tag "Awesome", class: "btn btn-primary btn-default" %>
            <% end %>
             <%= form_tag vote_up_path(@place), class: "vote-up" do |f| %>
              <%= hidden_field_tag(:"vote[voteable_id]", @place.id) %>
              <%= hidden_field_tag(:"vote[voteable_type]", "Place") %>
              <%= hidden_field_tag(:"vote[upvote?]", false) %>
              <%= submit_tag "Bummer", class: "btn btn-primary btn-default" %>
              <% end %>
            </div>

          </div>
        </div>
	    </div>
      <div style="height:300px;width:400px" class="col-md-3 col-sm-3 col-lg-3 col-xs-3" id="place_map_container">
        map goes here
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7" id="reviews-container">
        <% @place.reviews.each do |review| %>
          <%= render partial: "reviews/show", locals: {review: review} %>
        <% end %>
      </div>

    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" id="directions-container">
      <ul id="directions">
      </ul>
	  </div>
	</div>
</div>
